PROJECT_NAME="my-awesome-app"
BUILD_COMMAND="npm run build"
LOCAL_DIR="./out"
REMOTE_DIR="/htdocs"
EXCLUDE_DIRS="db,.git,node_modules"

FTP_HOST="ftp.ornek.com"
FTP_USER="kullanici_adi"
FTP_PASSWORD="sifre"
